<a href="https://colab.research.google.com/github/marinabrts/marinabrts.github.io/blob/main/CostOverTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, pandas as pd

In [ ]:
!pip install world-bank-data

Collecting world-bank-data
  Downloading world_bank_data-0.1.3.tar.gz (12 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from world-bank-data) (1.1.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from world-bank-data) (2.23.0)
Requirement already satisfied: cachetools in /usr/local/lib/python3.7/dist-packages (from world-bank-data) (4.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->world-bank-data) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->world-bank-data) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->world-bank-data) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->world-bank-data) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->world-bank-data) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->world-bank-data) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->world-bank-data) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->world-bank-data) (2.10)
Building wheels for collected packages: world-bank-data
  Building wheel for world-bank-data (setup.py) ... done
  Created wheel for world-bank-data: filename=world_bank_data-0.1.3-py3-none-any.whl size=11111 sha256=9602faa2cbaae7fb545eab7cef4489ba6ba989f127f92a5d7fded4c686e21581
  Stored in directory: /root/.cache/pip/wheels/95/74/5e/c32dde16dc1ef8d8e9cf134ac93ae723ffec4f60be9c4873f5
Successfully built world-bank-data
Installing collected packages: world-bank-data
Successfully installed world-bank-data-0.1.3

In [ ]:
import world_bank_data as wb

In [ ]:
df1 = pd.DataFrame(wb.get_series('IC.REG.COST.PC.ZS', mrv=15)) 

df1

                                                                                     IC.REG.COST.PC.ZS
Country                     Series                                             Year
Africa Eastern and Southern Cost of business start-up procedures (% of GNI ... 2005         176.950000
                                                                               2006         156.612500
                                                                               2007         150.812500
                                                                               2008         133.420833
                                                                               2009         114.329167
...                                                                                                ...
Zimbabwe                    Cost of business start-up procedures (% of GNI ... 2015         118.400000
                                                                               2016         121.500000
                                                                               2017         110.000000
                                                                               2018         110.700000
                                                                               2019          76.600000

[3990 rows x 1 columns]

In [ ]:
df1.columns=["value"]

In [ ]:
df1

                                                                                          value
Country                     Series                                             Year
Africa Eastern and Southern Cost of business start-up procedures (% of GNI ... 2005  176.950000
                                                                               2006  156.612500
                                                                               2007  150.812500
                                                                               2008  133.420833
                                                                               2009  114.329167
...                                                                                         ...
Zimbabwe                    Cost of business start-up procedures (% of GNI ... 2015  118.400000
                                                                               2016  121.500000
                                                                               2017  110.000000
                                                                               2018  110.700000
                                                                               2019   76.600000

[3990 rows x 1 columns]

In [ ]:
df1.to_csv('df_1_csv')

In [ ]:
#saved as CSV file, chose countries of interest in Excel, upload a new CSV file on GitHub