<a href="https://colab.research.google.com/github/marinabrts/marinabrts.github.io/blob/main/cost%2Bdays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving poverty_csv to poverty_csv (1)
Saving cost_csv to cost_csv

In [ ]:
import pandas as pd

In [ ]:
cost=pd.read_csv('cost_csv')

In [ ]:
cost.head

<bound method NDFrame.head of                  Country   Cost
0                 Canada    0.3
1          United States    1.0
2     Russian Federation    1.0
3                  China    1.1
4              Australia    0.7
5                 Brazil    4.2
6                 Israel    2.7
7                Bolivia   37.3
8          Venezuela, RB  211.8
9       Egypt, Arab Rep.   20.3
10               Nigeria   26.1
11                  Chad  169.3
12          South Africa    0.2
13        United Kingdom    0.0
14               Denmark    0.2
15               Germany    6.5
16                 Spain    3.9
17               Estonia    1.0
18  United Arab Emirates   17.2
19    Iran, Islamic Rep.    1.1
20                 India    7.2
21            Kazakhstan    0.2
22             Singapore    0.4
23              Thailand    3.0
24             Indonesia    5.7>

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving days_csv to days_csv

In [ ]:
days=pd.read_csv('days_csv')

In [ ]:
days['Days']

0       1.5
1       4.2
2      10.1
3       8.5
4       2.0
5      16.6
6      11.0
7      39.5
8     230.0
9      12.5
10      7.2
11     58.0
12     40.0
13      4.5
14      3.5
15      8.0
16     12.5
17      3.5
18      3.8
19     72.5
20     17.5
21      5.0
22      1.5
23      6.0
24     12.6
Name: Days, dtype: float64

In [ ]:
# cost and days have the same number of rows and the "Country" column in common, I can join them together 
# rsuffix specifies a suffix to add to overlapping columns

In [ ]:

df=days.join(cost,rsuffix='_right')

In [ ]:
df

                 Country   Days  ... new_column          cost
0                 Canada    1.5  ...       cost  days['Days']
1          United States    4.2  ...       cost  days['Days']
2     Russian Federation   10.1  ...       cost  days['Days']
3                  China    8.5  ...       cost  days['Days']
4              Australia    2.0  ...       cost  days['Days']
5                 Brazil   16.6  ...       cost  days['Days']
6                 Israel   11.0  ...       cost  days['Days']
7                Bolivia   39.5  ...       cost  days['Days']
8          Venezuela, RB  230.0  ...       cost  days['Days']
9       Egypt, Arab Rep.   12.5  ...       cost  days['Days']
10               Nigeria    7.2  ...       cost  days['Days']
11                  Chad   58.0  ...       cost  days['Days']
12          South Africa   40.0  ...       cost  days['Days']
13        United Kingdom    4.5  ...       cost  days['Days']
14               Denmark    3.5  ...       cost  days['Days']
15               Germany    8.0  ...       cost  days['Days']
16                 Spain   12.5  ...       cost  days['Days']
17               Estonia    3.5  ...       cost  days['Days']
18  United Arab Emirates    3.8  ...       cost  days['Days']
19    Iran, Islamic Rep.   72.5  ...       cost  days['Days']
20                 India   17.5  ...       cost  days['Days']
21            Kazakhstan    5.0  ...       cost  days['Days']
22             Singapore    1.5  ...       cost  days['Days']
23              Thailand    6.0  ...       cost  days['Days']
24             Indonesia   12.6  ...       cost  days['Days']

[25 rows x 6 columns]

In [ ]:
#deleting the useless columns

In [ ]:
del df['cost']

In [ ]:
del df['new_column']

In [ ]:
del df['Country_right']

In [ ]:
df

                 Country   Days   Cost
0                 Canada    1.5    0.3
1          United States    4.2    1.0
2     Russian Federation   10.1    1.0
3                  China    8.5    1.1
4              Australia    2.0    0.7
5                 Brazil   16.6    4.2
6                 Israel   11.0    2.7
7                Bolivia   39.5   37.3
8          Venezuela, RB  230.0  211.8
9       Egypt, Arab Rep.   12.5   20.3
10               Nigeria    7.2   26.1
11                  Chad   58.0  169.3
12          South Africa   40.0    0.2
13        United Kingdom    4.5    0.0
14               Denmark    3.5    0.2
15               Germany    8.0    6.5
16                 Spain   12.5    3.9
17               Estonia    3.5    1.0
18  United Arab Emirates    3.8   17.2
19    Iran, Islamic Rep.   72.5    1.1
20                 India   17.5    7.2
21            Kazakhstan    5.0    0.2
22             Singapore    1.5    0.4
23              Thailand    6.0    3.0
24             Indonesia   12.6    5.7

In [ ]:
df.to_csv('cost+days_csv')

In [ ]:
from google.colab import files
files.download("cost+days_csv")

In [ ]:
# save as cost+days_csv