<a href="https://colab.research.google.com/github/marinabrts/marinabrts.github.io/blob/main/days_to_start_business.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, pandas as pd

In [ ]:
url ='http://api.worldbank.org/v2/country/{}/indicator/IC.REG.DURS?date=2019&format=json'

country = ["CAN","USA","RUS","CHN","AUS","BRA","ISR","BOL","VEN","EGY",
           "NGA","TCD","ZAF","GBR","DNK","DEU","ESP","EST","ARE","IRN","IND",
           "KAZ","SGP","THA","IDN"]

#constructed a World Bank API link and selected countries of interest

html={}
for i in country:
  url_one = url.format(i)
  html[i] = requests.get(url_one).json()

#For loop that iterates over the country list and creates a url for each country code

In [ ]:
my_values=[]
for i in country:

  value=html[i][1][0]['value']
  my_values.append(value)

  #For loop for obtaining "value" for each country code. For each country code, "value" is located in the 1st 
  # element of the list, inside the 0th element of the list inside it

In [ ]:
my_names=[]
for i in country:
  name=html[i][1][0]['country']['value']
  my_names.append(name)

#For loop for obtaining country name for each country code. For each country code, the name is located in the 1st
# element of the list,inside the 0th element of the list inside it, inside the "country" key

In [ ]:
my_names

['Canada',
 'United States',
 'Russian Federation',
 'China',
 'Australia',
 'Brazil',
 'Israel',
 'Bolivia',
 'Venezuela, RB',
 'Egypt, Arab Rep.',
 'Nigeria',
 'Chad',
 'South Africa',
 'United Kingdom',
 'Denmark',
 'Germany',
 'Spain',
 'Estonia',
 'United Arab Emirates',
 'Iran, Islamic Rep.',
 'India',
 'Kazakhstan',
 'Singapore',
 'Thailand',
 'Indonesia']

In [ ]:
df = pd.DataFrame(my_values, my_names)

In [ ]:
df.columns=["Days"]

In [ ]:
#create a data frame for days required to start a business

In [ ]:
df

                       Days
Canada                  1.5
United States           4.2
Russian Federation     10.1
China                   8.5
Australia               2.0
Brazil                 16.6
Israel                 11.0
Bolivia                39.5
Venezuela, RB         230.0
Egypt, Arab Rep.       12.5
Nigeria                 7.2
Chad                   58.0
South Africa           40.0
United Kingdom          4.5
Denmark                 3.5
Germany                 8.0
Spain                  12.5
Estonia                 3.5
United Arab Emirates    3.8
Iran, Islamic Rep.     72.5
India                  17.5
Kazakhstan              5.0
Singapore               1.5
Thailand                6.0
Indonesia              12.6

In [ ]:
df.to_csv('days_csv')

In [ ]:
from google.colab import files
files.download("days_csv")

In [ ]:
#save as days_csv