<a href="https://colab.research.google.com/github/marinabrts/marinabrts.github.io/blob/main/mob_cost_pov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests, pandas as pd

In [2]:
url ="http://api.worldbank.org/v2/country/{}/indicator/IC.REG.COST.PC.ZS?date=2019&format=json"

In [28]:
country = ["CAN","USA","RUS","CHN","AUS","BRA","ISR","BOL","VEN","EGY",
           "NGA","TCD","ZAF","GBR","DNK","DEU","ESP","EST","ARE","IRN","IND",
           "KAZ","SGP","THA","IDN","AFG","BEL","CMR","BGR","CHL","CUB","ETH",
           "GRC","ITA","KWT","LBN","NZL","CHE","UKR","ALB","AZE","DZA","ARM",
           "BGD","BDI","COL","CRI","DNK","ERI","GHA","HKG","HUN","LBY","MAR",
           "QAT","ROM","TJK","SWE","TUN"]
html={}
for i in country:
  url_one = url.format(i)
  html[i] = requests.get(url_one).json()

In [29]:
my_values=[]
for i in country:

  value=html[i][1][0]['value']
  my_values.append(value)

In [30]:
my_names=[]
for i in country:
  name=html[i][1][0]['country']['value']
  my_names.append(name)

In [31]:
df = pd.DataFrame(my_values, my_names)

In [ ]:
df.head(5)

                      0
Canada              0.3
United States       1.0
Russian Federation  1.0
China               1.1
Australia           0.7

In [37]:
df.columns=['Cost']

In [38]:
df

                       Cost
Canada                  0.3
United States           1.0
Russian Federation      1.0
China                   1.1
Australia               0.7
Brazil                  4.2
Israel                  2.7
Bolivia                37.3
Venezuela, RB         211.8
Egypt, Arab Rep.       20.3
Nigeria                26.1
Chad                  169.3
South Africa            0.2
United Kingdom          0.0
Denmark                 0.2
Germany                 6.5
Spain                   3.9
Estonia                 1.0
United Arab Emirates   17.2
Iran, Islamic Rep.      1.1
India                   7.2
Kazakhstan              0.2
Singapore               0.4
Thailand                3.0
Indonesia               5.7
Afghanistan             6.8
Belgium                 5.3
Cameroon               24.8
Bulgaria                1.0
Chile                   2.7
Cuba                    NaN
Ethiopia               45.4
Greece                  1.5
Italy                  13.8
Kuwait                  1.7
Lebanon                42.3
New Zealand             0.2
Switzerland             2.3
Ukraine                 0.5
Albania                10.8
Azerbaijan              1.2
Algeria                11.3
Armenia                 0.8
Bangladesh              8.7
Burundi                12.3
Colombia               14.1
Costa Rica              9.6
Denmark                 0.2
Eritrea                21.3
Ghana                  12.3
Hong Kong SAR, China    0.5
Hungary                 4.5
Libya                  24.6
Morocco                 3.6
Qatar                   6.3
Romania                 0.3
Tajikistan             17.5
Sweden                  0.5
Tunisia                 2.9

In [39]:
df.to_csv("costExpanded_csv")

In [40]:
from google.colab import files
files.download("costExpanded_csv")

NOW COST+POVERTY

In [46]:
from google.colab import files
data_to_load = files.upload()

Saving costExpanded_csv to costExpanded_csv (2)

In [47]:
socmobpov=pd.read_csv("SocMobPov1_csv")

In [48]:
cost=pd.read_csv("costExpanded_csv")

In [ ]:
cost.head

In [49]:
cost['Country']=cost['Unnamed: 0']

In [ ]:
cost.head(5)

           Unnamed: 0  Cost             Country
0              Canada   0.3              Canada
1       United States   1.0       United States
2  Russian Federation   1.0  Russian Federation
3               China   1.1               China
4           Australia   0.7           Australia

In [50]:
socmobpov['Country'].unique()

array(['Albania', 'Argentina', 'Armenia', 'Australia', 'Austria',
       'Bangladesh', 'Belgium', 'Brazil', 'Bulgaria', 'Cameroon',
       'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia',
       'Cyprus', 'Czech Republic', 'Denmark', 'Egypt', 'El Salvador',
       'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kazakhstan',
       'Laos', 'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Malta',
       'Mexico', 'Moldova', 'Morocco', 'Netherlands', 'Norway', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania',
       'Senegal', 'Serbia', 'Slovenia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Thailand', 'Tunisia',
       'Turkey', 'Ukraine', 'United Kingdom', 'United States', 'Uruguay',
       'Vietnam'], dtype=object)

In [51]:
df=socmobpov.set_index('Country').join(cost.set_index('Country'),rsuffix='a')

In [52]:
df.head(10)

                Continent  Index Score  Poverty  Unnamed: 0  Cost
Country
Albania            Europe         55.6     33.8     Albania  10.8
Argentina   South America         57.3     14.0         NaN   NaN
Armenia              Asia         53.9     44.0     Armenia   0.8
Australia         Oceania         75.1      0.7   Australia   0.7
Austria            Europe         80.1      1.0         NaN   NaN
Bangladesh           Asia         40.2     44.0  Bangladesh   8.7
Belgium            Europe         80.1      0.3     Belgium   5.3
Brazil      South America         52.1     19.8      Brazil   4.2
Bulgaria           Europe         63.8      7.5    Bulgaria   1.0
Cameroon           Africa         36.0     71.0    Cameroon  24.8

In [53]:
del df['Unnamed: 0']

In [ ]:
del df['Unnamed: 0a']

In [54]:
df

                    Continent  Index Score  Poverty  Cost
Country
Albania                Europe         55.6     33.8  10.8
Argentina       South America         57.3     14.0   NaN
Armenia                  Asia         53.9     44.0   0.8
Australia             Oceania         75.1      0.7   0.7
Austria                Europe         80.1      1.0   NaN
...                       ...          ...      ...   ...
Ukraine                Europe         61.2      3.0   0.5
United Kingdom         Europe         74.4      1.0   0.0
United States   North America         70.4      1.7   1.0
Uruguay         South America         67.1      2.9   NaN
Vietnam                  Asia         57.8     22.0   NaN

[74 rows x 4 columns]

In [55]:
new_df=df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [56]:
new_df.head(5)

           Continent  Index Score  Poverty  Cost
Country
Albania       Europe         55.6     33.8  10.8
Armenia         Asia         53.9     44.0   0.8
Australia    Oceania         75.1      0.7   0.7
Bangladesh      Asia         40.2     44.0   8.7
Belgium       Europe         80.1      0.3   5.3

Continent       object
Index Score    float64
Poverty        float64
Cost           float64
dtype: object

In [60]:
new_df.to_csv('mob_cost_pov_csv')

In [61]:
from google.colab import files
files.download("mob_cost_pov_csv")