<a href="https://colab.research.google.com/github/marinabrts/marinabrts.github.io/blob/main/mob_cost_pov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests, pandas as pd

In [2]:
url ="http://api.worldbank.org/v2/country/{}/indicator/IC.REG.COST.PC.ZS?date=2019&format=json"

In [104]:
country = ["CAN","USA","RUS","CHN","AUS","BRA","ISR","BOL","VEN","EGY",
           "NGA","TCD","ZAF","GBR","DNK","DEU","ESP","EST","ARE","IRN","IND",
           "TUR","SGP","THA","IDN","AFG","ARG","BEL","CMR","BGR","CHL","CUB","ETH",
           "GRC","ITA","KWT","LBN","NZL","CHE","UKR","ALB","AZE","DZA","ARM",
           "BGD","BDI","COL","CRI","DNK","ERI","GHA","HKG","HUN","SLV","GTM",
           "LBY","MAR","HND","JPN","PHL","SEN",
           "QAT","ROM","TJK","SWE","TUN"]
html={}
for i in country:
  url_one = url.format(i)
  html[i] = requests.get(url_one).json()

In [105]:
my_values=[]
for i in country:

  value=html[i][1][0]['value']
  my_values.append(value)

In [106]:
my_names=[]
for i in country:
  name=html[i][1][0]['country']['value']
  my_names.append(name)

In [107]:
df = pd.DataFrame(my_values, my_names)

In [108]:
df.head(5)

                      0
Canada              0.3
United States       1.0
Russian Federation  1.0
China               1.1
Australia           0.7

In [109]:
df.columns=['Cost']

In [110]:
df

                    Cost
Canada               0.3
United States        1.0
Russian Federation   1.0
China                1.1
Australia            0.7
...                  ...
Qatar                6.3
Romania              0.3
Tajikistan          17.5
Sweden               0.5
Tunisia              2.9

[66 rows x 1 columns]

In [111]:
df.to_csv("costExpanded_csv")

In [112]:
from google.colab import files
files.download("costExpanded_csv")

NOW COST+POVERTY

In [113]:
from google.colab import files
data_to_load = files.upload()

Saving costExpanded_csv to costExpanded_csv (4)

In [114]:
socmobpov=pd.read_csv("SocMobPov1_csv")

In [115]:
cost=pd.read_csv("costExpanded_csv")

In [116]:
cost.head(5)

           Unnamed: 0  Cost
0              Canada   0.3
1       United States   1.0
2  Russian Federation   1.0
3               China   1.1
4           Australia   0.7

In [117]:
cost['Country']=cost['Unnamed: 0']

In [118]:
cost.head(5)

           Unnamed: 0  Cost             Country
0              Canada   0.3              Canada
1       United States   1.0       United States
2  Russian Federation   1.0  Russian Federation
3               China   1.1               China
4           Australia   0.7           Australia

In [119]:
socmobpov['Country'].unique()

array(['Albania', 'Argentina', 'Armenia', 'Australia', 'Austria',
       'Bangladesh', 'Belgium', 'Brazil', 'Bulgaria', 'Cameroon',
       'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia',
       'Cyprus', 'Czech Republic', 'Denmark', 'Egypt', 'El Salvador',
       'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kazakhstan',
       'Laos', 'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Malta',
       'Mexico', 'Moldova', 'Morocco', 'Netherlands', 'Norway', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania',
       'Senegal', 'Serbia', 'Slovenia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Thailand', 'Tunisia',
       'Turkey', 'Ukraine', 'United Kingdom', 'United States', 'Uruguay',
       'Vietnam'], dtype=object)

In [120]:
cost['Country'].unique()

array(['Canada', 'United States', 'Russian Federation', 'China',
       'Australia', 'Brazil', 'Israel', 'Bolivia', 'Venezuela, RB',
       'Egypt, Arab Rep.', 'Nigeria', 'Chad', 'South Africa',
       'United Kingdom', 'Denmark', 'Germany', 'Spain', 'Estonia',
       'United Arab Emirates', 'Iran, Islamic Rep.', 'India', 'Turkey',
       'Singapore', 'Thailand', 'Indonesia', 'Afghanistan', 'Argentina',
       'Belgium', 'Cameroon', 'Bulgaria', 'Chile', 'Cuba', 'Ethiopia',
       'Greece', 'Italy', 'Kuwait', 'Lebanon', 'New Zealand',
       'Switzerland', 'Ukraine', 'Albania', 'Azerbaijan', 'Algeria',
       'Armenia', 'Bangladesh', 'Burundi', 'Colombia', 'Costa Rica',
       'Eritrea', 'Ghana', 'Hong Kong SAR, China', 'Hungary',
       'El Salvador', 'Guatemala', 'Libya', 'Morocco', 'Honduras',
       'Japan', 'Philippines', 'Senegal', 'Qatar', 'Romania',
       'Tajikistan', 'Sweden', 'Tunisia'], dtype=object)

In [121]:
df=socmobpov.set_index('Country').join(cost.set_index('Country'),rsuffix='a')

In [123]:
df.head

<bound method NDFrame.head of                     Continent  Index Score  Poverty      Unnamed: 0  Cost
Country
Albania                Europe         55.6     33.8         Albania  10.8
Argentina       South America         57.3     14.0       Argentina   5.0
Armenia                  Asia         53.9     44.0         Armenia   0.8
Australia             Oceania         75.1      0.7       Australia   0.7
Austria                Europe         80.1      1.0             NaN   NaN
...                       ...          ...      ...             ...   ...
Ukraine                Europe         61.2      3.0         Ukraine   0.5
United Kingdom         Europe         74.4      1.0  United Kingdom   0.0
United States   North America         70.4      1.7   United States   1.0
Uruguay         South America         67.1      2.9             NaN   NaN
Vietnam                  Asia         57.8     22.0             NaN   NaN

[74 rows x 5 columns]>

In [124]:
del df['Unnamed: 0']

In [ ]:
del df['Unnamed: 0a']

In [125]:
df

                    Continent  Index Score  Poverty  Cost
Country
Albania                Europe         55.6     33.8  10.8
Argentina       South America         57.3     14.0   5.0
Armenia                  Asia         53.9     44.0   0.8
Australia             Oceania         75.1      0.7   0.7
Austria                Europe         80.1      1.0   NaN
...                       ...          ...      ...   ...
Ukraine                Europe         61.2      3.0   0.5
United Kingdom         Europe         74.4      1.0   0.0
United States   North America         70.4      1.7   1.0
Uruguay         South America         67.1      2.9   NaN
Vietnam                  Asia         57.8     22.0   NaN

[74 rows x 4 columns]

In [126]:
new_df=df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [127]:
new_df

                    Continent  Index Score  Poverty  Cost
Country
Albania                Europe         55.6     33.8  10.8
Argentina       South America         57.3     14.0   5.0
Armenia                  Asia         53.9     44.0   0.8
Australia             Oceania         75.1      0.7   0.7
Bangladesh               Asia         40.2     44.0   8.7
Belgium                Europe         80.1      0.3   5.3
Brazil          South America         52.1     19.8   4.2
Bulgaria               Europe         63.8      7.5   1.0
Cameroon               Africa         36.0     71.0  24.8
Canada          North America         76.1      0.7   0.3
Chile           South America         60.3      3.7   2.7
China                    Asia         61.5     24.0   1.1
Colombia        South America         50.3     29.0  14.1
Costa Rica      North America         61.6     10.9   9.6
Denmark                Europe         85.2      0.2   0.2
Denmark                Europe         85.2      0.2   0.2
El Salvador     North America         47.4     22.0  43.3
Estonia                Europe         73.5      1.0   1.0
Germany                Europe         78.8      1.0   6.5
Ghana                  Africa         45.5     55.0  12.3
Greece                 Europe         59.8      3.0   1.5
Guatemala       North America         43.5     48.8  17.3
Honduras        North America         43.5     49.0  28.1
Hungary                Europe         65.8      2.0   4.5
India                    Asia         42.7     60.1   7.2
Indonesia                Asia         49.3     42.0   5.7
Israel                   Asia         68.1      2.7   2.7
Italy                  Europe         67.4      3.1  13.8
Japan                    Asia         76.1      1.0   7.5
Morocco                Africa         43.7     30.0   3.6
Philippines              Asia         51.7     46.9  23.3
Romania                Europe         63.1     11.0   0.3
Senegal                Africa         36.0     88.1  22.6
South Africa           Africa         41.4     57.1   0.2
Spain                  Europe         70.0      2.2   3.9
Sweden                 Europe         83.5      1.0   0.5
Switzerland            Europe         82.1      0.0   2.3
Thailand                 Asia         55.4      6.0   3.0
Tunisia                Africa         51.7     18.3   2.9
Turkey           Asia, Europe         51.3     10.0   6.0
Ukraine                Europe         61.2      3.0   0.5
United Kingdom         Europe         74.4      1.0   0.0
United States   North America         70.4      1.7   1.0

In [128]:
new_df.dtypes

Continent       object
Index Score    float64
Poverty        float64
Cost           float64
dtype: object

In [129]:
new_df.to_csv('mob_cost_pov_csv')

In [130]:
from google.colab import files
files.download("mob_cost_pov_csv")