<a href="https://colab.research.google.com/github/marinabrts/marinabrts.github.io/blob/main/socMob_Pov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving poverty1_csv to poverty1_csv
Saving social_mob_index_csv to social_mob_index_csv

In [ ]:
poverty=pd.read_csv("poverty1_csv")

In [ ]:
social_mob=pd.read_csv("social_mob_index_csv")

In [ ]:
social_mob

    Unnamed: 0 Ranking      Countries  Index Score
0            0      #1        Denmark         85.2
1            1      #2         Norway         83.6
2            2      #3        Finland         83.6
3            3      #4         Sweden         83.5
4            4      #5        Iceland         82.7
..         ...     ...            ...          ...
77          77     #78     Bangladesh         40.2
78          78     #79       Pakistan         36.7
79          79     #80       Cameroon         36.0
80          80     #81        Senegal         36.0
81          81     #82  Côte d’Ivoire         34.5

[82 rows x 4 columns]

In [ ]:
poverty.head(5)

   Unnamed: 0    Country < $5.50      Continent
0           0    Albania   33.8%         Europe
1           1    Algeria   28.6%         Africa
2           2     Angola   89.3%         Africa
3           3  Argentina   14.0%  South America
4           4    Armenia   44.0%           Asia

In [ ]:
poverty['Country'].unique()

array(['Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus[9]',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Democratic Republic of the',
       'Congo, Republic of the', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominican Republic',
       'East Timor', 'Ecuador[10]', 'Egypt', 'El Salvador', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica',
       'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, South', 'Kosovo', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal[13]', 'Netherlands', 'Nicaragua', 'Niger',
       'Nigeria', 'North Macedonia', 'Norway', 'Pakistan[14]',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'Rwanda',
       'Saint Lucia', 'Samoa', 'São Tomé and Príncipe', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
social_mob['Countries'].unique()

array(['Denmark', 'Norway', 'Finland', 'Sweden', 'Iceland', 'Netherlands',
       'Switzerland', 'Belgium', 'Austria', 'Luxembourg', 'Germany',
       'France', 'Slovenia', 'Canada', 'Japan', 'Australia', 'Malta',
       'Ireland', 'Czech Republic', 'Singapore', 'United Kingdom',
       'New Zealand', 'Estonia', 'Portugal', 'Korean Republic',
       'Lithuania', 'United States', 'Spain', 'Cyprus', 'Poland',
       'Latvia', 'Slovak Republic', 'Israel', 'Italy', 'Uruguay',
       'Croatia', 'Hungary', 'Kazakhstan', 'Russian Federation',
       'Bulgaria', 'Serbia', 'Romania', 'Malaysia', 'Costa Rica', 'China',
       'Ukraine', 'Chile', 'Greece', 'Moldova', 'Vietnam', 'Argentina',
       'Saudi Arabia', 'Georgia', 'Albania', 'Thailand', 'Armenia',
       'Ecuador', 'Mexico', 'Sri Lanka', 'Brazil', 'Philippines',
       'Tunisia', 'Panama', 'Turkey', 'Colombia', 'Peru', 'Indonesia',
       'El Salvador', 'Paraguay', 'Ghana', 'Egypt', 'Laos', 'Morocco',
       'Honduras', 'Guatemala', 'India', 'South Africa', 'Bangladesh',
       'Pakistan', 'Cameroon', 'Senegal', 'Côte d’Ivoire'], dtype=object)

In [ ]:
social_mob['Country']=social_mob['Countries']

In [ ]:
social_mob

    Unnamed: 0 Ranking      Countries  Index Score        Country
0            0      #1        Denmark         85.2        Denmark
1            1      #2         Norway         83.6         Norway
2            2      #3        Finland         83.6        Finland
3            3      #4         Sweden         83.5         Sweden
4            4      #5        Iceland         82.7        Iceland
..         ...     ...            ...          ...            ...
77          77     #78     Bangladesh         40.2     Bangladesh
78          78     #79       Pakistan         36.7       Pakistan
79          79     #80       Cameroon         36.0       Cameroon
80          80     #81        Senegal         36.0        Senegal
81          81     #82  Côte d’Ivoire         34.5  Côte d’Ivoire

[82 rows x 5 columns]

Join Poverty and Social Mobility Index in one dataframe

In [ ]:
df=poverty.set_index('Country').join(social_mob.set_index('Country'),rsuffix='a')

In [ ]:
df

           Unnamed: 0 < $5.50      Continent  ...  Ranking  Countries Index Score
Country                                       ...
Albania             0   33.8%         Europe  ...      #54    Albania        55.6
Algeria             1   28.6%         Africa  ...      NaN        NaN         NaN
Angola              2   89.3%         Africa  ...      NaN        NaN         NaN
Argentina           3   14.0%  South America  ...      #51  Argentina        57.3
Armenia             4   44.0%           Asia  ...      #56    Armenia        53.9
...               ...     ...            ...  ...      ...        ...         ...
Venezuela         159   33.0%  South America  ...      NaN        NaN         NaN
Vietnam           160   22.0%           Asia  ...      #50    Vietnam        57.8
Yemen             161   81.6%           Asia  ...      NaN        NaN         NaN
Zambia            162   88.0%         Africa  ...      NaN        NaN         NaN
Zimbabwe          163   83.0%         Africa  ...      NaN        NaN         NaN

[164 rows x 7 columns]

In [ ]:
del df['Unnamed: 0']

In [ ]:
del df['Unnamed: 0a']

In [ ]:
del df['Ranking']

In [ ]:
del df['Countries']

In [ ]:
df

          < $5.50      Continent  Index Score % living on below $5.50
Country
Albania     33.8%         Europe         55.6                   33.8%
Algeria     28.6%         Africa          NaN                   28.6%
Angola      89.3%         Africa          NaN                   89.3%
Argentina   14.0%  South America         57.3                   14.0%
Armenia     44.0%           Asia         53.9                   44.0%
...           ...            ...          ...                     ...
Venezuela   33.0%  South America          NaN                   33.0%
Vietnam     22.0%           Asia         57.8                   22.0%
Yemen       81.6%           Asia          NaN                   81.6%
Zambia      88.0%         Africa          NaN                   88.0%
Zimbabwe    83.0%         Africa          NaN                   83.0%

[164 rows x 4 columns]

In [ ]:
del df['% living on below $5.50']

In [ ]:
df

          < $5.50      Continent  Index Score
Country
Albania     33.8%         Europe         55.6
Algeria     28.6%         Africa          NaN
Angola      89.3%         Africa          NaN
Argentina   14.0%  South America         57.3
Armenia     44.0%           Asia         53.9
...           ...            ...          ...
Venezuela   33.0%  South America          NaN
Vietnam     22.0%           Asia         57.8
Yemen       81.6%           Asia          NaN
Zambia      88.0%         Africa          NaN
Zimbabwe    83.0%         Africa          NaN

[164 rows x 3 columns]

In [ ]:
new_df=df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

This is Poverty and SMI dataframe; I convert it to csv (my_data_csv)

In [ ]:
new_df

               < $5.50      Continent  Index Score
Country
Albania          33.8%         Europe         55.6
Argentina        14.0%  South America         57.3
Armenia          44.0%           Asia         53.9
Australia         0.7%        Oceania         75.1
Austria           1.0%         Europe         80.1
...                ...            ...          ...
Ukraine           3.0%         Europe         61.2
United Kingdom    1.0%         Europe         74.4
United States     1.7%  North America         70.4
Uruguay           2.9%  South America         67.1
Vietnam          22.0%           Asia         57.8

[73 rows x 3 columns]

In [ ]:
new_df.to_csv('my_data_csv')

Poverty values are in %, which is not seen as numeric in Vega. So, I replace the "%" sign with " ", creating a list and then a dataframe with 2 columns (ddf). I convert it to csv (ddf_csv)

In [ ]:
better_df=new_df['< $5.50'].str.replace('%',' ')

In [ ]:
better_df

Country
Albania           33.8
Argentina         14.0
Armenia           44.0
Australia          0.7
Austria            1.0
                  ...
Ukraine            3.0
United Kingdom     1.0
United States      1.7
Uruguay            2.9
Vietnam           22.0
Name: < $5.50, Length: 73, dtype: object

In [ ]:
ddf=pd.DataFrame(better_df)

In [ ]:
ddf

               < $5.50
Country
Albania          33.8
Argentina        14.0
Armenia          44.0
Australia         0.7
Austria           1.0
...                ...
Ukraine           3.0
United Kingdom    1.0
United States     1.7
Uruguay           2.9
Vietnam          22.0

[73 rows x 1 columns]

In [ ]:
ddf.to_csv('ddf_csv')
from google.colab import files
files.download("ddf_csv")

I want to join ddf_csv and my_data_csv into one dataframe

In [ ]:
from google.colab import files
files.download("my_data_csv")

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving ddf_csv to ddf_csv (1)
Saving my_data_csv (1) to my_data_csv (1)

In [ ]:
a=pd.read_csv("my_data_csv (1)")
b=pd.read_csv("ddf_csv")

In [ ]:
best_df=a.set_index('Country').join(b.set_index('Country'),rsuffix='a')

In [ ]:
best_df

               < $5.50      Continent  Index Score  < $5.50a
Country
Albania          33.8%         Europe         55.6      33.8
Argentina        14.0%  South America         57.3      14.0
Armenia          44.0%           Asia         53.9      44.0
Australia         0.7%        Oceania         75.1       0.7
Austria           1.0%         Europe         80.1       1.0
...                ...            ...          ...       ...
Ukraine           3.0%         Europe         61.2       3.0
United Kingdom    1.0%         Europe         74.4       1.0
United States     1.7%  North America         70.4       1.7
Uruguay           2.9%  South America         67.1       2.9
Vietnam          22.0%           Asia         57.8      22.0

[73 rows x 4 columns]

In [ ]:
del best_df['< $5.50']

In [ ]:
best_df

                    Continent  Index Score  < $5.50a
Country
Albania                Europe         55.6      33.8
Argentina       South America         57.3      14.0
Armenia                  Asia         53.9      44.0
Australia             Oceania         75.1       0.7
Austria                Europe         80.1       1.0
...                       ...          ...       ...
Ukraine                Europe         61.2       3.0
United Kingdom         Europe         74.4       1.0
United States   North America         70.4       1.7
Uruguay         South America         67.1       2.9
Vietnam                  Asia         57.8      22.0

[73 rows x 3 columns]

In [ ]:
best_df['Poverty']=best_df['< $5.50a']

In [ ]:
best_df

                    Continent  Index Score  < $5.50a  Poverty
Country
Albania                Europe         55.6      33.8     33.8
Argentina       South America         57.3      14.0     14.0
Armenia                  Asia         53.9      44.0     44.0
Australia             Oceania         75.1       0.7      0.7
Austria                Europe         80.1       1.0      1.0
...                       ...          ...       ...      ...
Ukraine                Europe         61.2       3.0      3.0
United Kingdom         Europe         74.4       1.0      1.0
United States   North America         70.4       1.7      1.7
Uruguay         South America         67.1       2.9      2.9
Vietnam                  Asia         57.8      22.0     22.0

[73 rows x 4 columns]

In [ ]:
del best_df['< $5.50a']

In [ ]:
best_df["Poverty"] = pd.to_numeric(best_df["Poverty"])

In [ ]:
best_df.dtypes

Continent       object
Index Score    float64
Poverty        float64
dtype: object

In [ ]:
best_df.to_csv('SocMobPov1_csv')

In [ ]:
from google.colab import files
files.download("SocMobPov1_csv")

Dataframe with poverty, social mobility index and continent --> SocMobPov1_csv