<a href="https://colab.research.google.com/github/marinabrts/marinabrts.github.io/blob/project/poverty1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_percentage_of_population_living_in_poverty')

In [3]:
df=table[0]

In [4]:
df.head(5)

     Country < $1.90[8][1] < $3.20[6] < $5.50[7]  Year      Continent
0    Albania          1.3%       8.2%      33.8%  2017         Europe
1    Algeria          0.4%       3.7%      28.6%  2011         Africa
2     Angola         49.9%      72.0%      89.3%  2018         Africa
3  Argentina          1.5%       5.0%      14.0%  2019  South America
4    Armenia          1.1%      10.0%      44.0%  2019           Asia

In [5]:
df.columns=['Country','< $1.90','< $3.20','< $5.50','Year','Continent']

In [6]:
df

       Country < $1.90 < $3.20 < $5.50  Year      Continent
0      Albania    1.3%    8.2%   33.8%  2017         Europe
1      Algeria    0.4%    3.7%   28.6%  2011         Africa
2       Angola   49.9%   72.0%   89.3%  2018         Africa
3    Argentina    1.5%    5.0%   14.0%  2019  South America
4      Armenia    1.1%   10.0%   44.0%  2019           Asia
..         ...     ...     ...     ...   ...            ...
159  Venezuela    6.7%   14.0%   33.0%  2006  South America
160    Vietnam    1.8%    7.0%   22.0%  2018           Asia
161      Yemen   18.3%   51.0%   81.6%  2014           Asia
162     Zambia   58.7%   75.0%   88.0%  2015         Africa
163   Zimbabwe   39.5%   64.0%   83.0%  2019         Africa

[164 rows x 6 columns]

In [7]:
data=df[["Country","< $5.50", "Continent"]]

In [8]:
data

       Country < $5.50      Continent
0      Albania   33.8%         Europe
1      Algeria   28.6%         Africa
2       Angola   89.3%         Africa
3    Argentina   14.0%  South America
4      Armenia   44.0%           Asia
..         ...     ...            ...
159  Venezuela   33.0%  South America
160    Vietnam   22.0%           Asia
161      Yemen   81.6%           Asia
162     Zambia   88.0%         Africa
163   Zimbabwe   83.0%         Africa

[164 rows x 3 columns]

In [11]:
data.to_csv("poverty1_csv")

In [10]:
from google.colab import files

In [12]:
files.download("poverty1_csv")