<a href="https://colab.research.google.com/github/marinabrts/marinabrts.github.io/blob/main/socMob_Pov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [42]:
from google.colab import files
data_to_load = files.upload()

Saving poverty1_csv to poverty1_csv

In [43]:
poverty=pd.read_csv("poverty1_csv")

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving social_mob_csv to social_mob_csv

In [44]:
social_mob=pd.read_csv("social_mob_csv")

In [45]:
social_mob

    Unnamed: 0 Ranking      Countries  Index Score
0            0      #1        Denmark         85.2
1            1      #2         Norway         83.6
2            2      #3        Finland         83.6
3            3      #4         Sweden         83.5
4            4      #5        Iceland         82.7
..         ...     ...            ...          ...
77          77     #78     Bangladesh         40.2
78          78     #79       Pakistan         36.7
79          79     #80       Cameroon         36.0
80          80     #81        Senegal         36.0
81          81     #82  Côte d’Ivoire         34.5

[82 rows x 4 columns]

In [46]:
poverty.head(5)

   Unnamed: 0    Country < $5.50      Continent
0           0    Albania   33.8%         Europe
1           1    Algeria   28.6%         Africa
2           2     Angola   89.3%         Africa
3           3  Argentina   14.0%  South America
4           4    Armenia   44.0%           Asia

In [47]:
poverty['Country'].unique()

array(['Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus[9]',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Democratic Republic of the',
       'Congo, Republic of the', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominican Republic',
       'East Timor', 'Ecuador[10]', 'Egypt', 'El Salvador', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica',
       'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, South', 'Kosovo', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal[13]', 'Netherlands', 'Nicaragua', 'Niger',
       'Nigeria', 'North Macedonia', 'Norway', 'Pakistan[14]',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'Rwanda',
       'Saint Lucia', 'Samoa', 'São Tomé and Príncipe', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [48]:
social_mob['Countries'].unique()

array(['Denmark', 'Norway', 'Finland', 'Sweden', 'Iceland', 'Netherlands',
       'Switzerland', 'Belgium', 'Austria', 'Luxembourg', 'Germany',
       'France', 'Slovenia', 'Canada', 'Japan', 'Australia', 'Malta',
       'Ireland', 'Czech Republic', 'Singapore', 'United Kingdom',
       'New Zealand', 'Estonia', 'Portugal', 'Korean Republic',
       'Lithuania', 'United States', 'Spain', 'Cyprus', 'Poland',
       'Latvia', 'Slovak Republic', 'Israel', 'Italy', 'Uruguay',
       'Croatia', 'Hungary', 'Kazakhstan', 'Russian Federation',
       'Bulgaria', 'Serbia', 'Romania', 'Malaysia', 'Costa Rica', 'China',
       'Ukraine', 'Chile', 'Greece', 'Moldova', 'Vietnam', 'Argentina',
       'Saudi Arabia', 'Georgia', 'Albania', 'Thailand', 'Armenia',
       'Ecuador', 'Mexico', 'Sri Lanka', 'Brazil', 'Philippines',
       'Tunisia', 'Panama', 'Turkey', 'Colombia', 'Peru', 'Indonesia',
       'El Salvador', 'Paraguay', 'Ghana', 'Egypt', 'Laos', 'Morocco',
       'Honduras', 'Guatemala', 'India', 'South Africa', 'Bangladesh',
       'Pakistan', 'Cameroon', 'Senegal', 'Côte d’Ivoire'], dtype=object)

In [49]:
social_mob['Country']=social_mob['Countries']

In [50]:
social_mob

    Unnamed: 0 Ranking      Countries  Index Score        Country
0            0      #1        Denmark         85.2        Denmark
1            1      #2         Norway         83.6         Norway
2            2      #3        Finland         83.6        Finland
3            3      #4         Sweden         83.5         Sweden
4            4      #5        Iceland         82.7        Iceland
..         ...     ...            ...          ...            ...
77          77     #78     Bangladesh         40.2     Bangladesh
78          78     #79       Pakistan         36.7       Pakistan
79          79     #80       Cameroon         36.0       Cameroon
80          80     #81        Senegal         36.0        Senegal
81          81     #82  Côte d’Ivoire         34.5  Côte d’Ivoire

[82 rows x 5 columns]

In [51]:
df=poverty.set_index('Country').join(social_mob.set_index('Country'),rsuffix='a')

In [52]:
df

           Unnamed: 0 < $5.50      Continent  ...  Ranking  Countries Index Score
Country                                       ...
Albania             0   33.8%         Europe  ...      #54    Albania        55.6
Algeria             1   28.6%         Africa  ...      NaN        NaN         NaN
Angola              2   89.3%         Africa  ...      NaN        NaN         NaN
Argentina           3   14.0%  South America  ...      #51  Argentina        57.3
Armenia             4   44.0%           Asia  ...      #56    Armenia        53.9
...               ...     ...            ...  ...      ...        ...         ...
Venezuela         159   33.0%  South America  ...      NaN        NaN         NaN
Vietnam           160   22.0%           Asia  ...      #50    Vietnam        57.8
Yemen             161   81.6%           Asia  ...      NaN        NaN         NaN
Zambia            162   88.0%         Africa  ...      NaN        NaN         NaN
Zimbabwe          163   83.0%         Africa  ...      NaN        NaN         NaN

[164 rows x 7 columns]

In [53]:
del df['Unnamed: 0']

In [54]:
del df['Unnamed: 0a']

In [55]:
del df['Ranking']

In [56]:
del df['Countries']

In [57]:
df

          < $5.50      Continent  Index Score
Country
Albania     33.8%         Europe         55.6
Algeria     28.6%         Africa          NaN
Angola      89.3%         Africa          NaN
Argentina   14.0%  South America         57.3
Armenia     44.0%           Asia         53.9
...           ...            ...          ...
Venezuela   33.0%  South America          NaN
Vietnam     22.0%           Asia         57.8
Yemen       81.6%           Asia          NaN
Zambia      88.0%         Africa          NaN
Zimbabwe    83.0%         Africa          NaN

[164 rows x 3 columns]

In [26]:
df['% living on below $5.50']=df['< $5.50']

In [28]:
del df['population living on < $5.50']

In [31]:
del df['% living on below $5.50']

In [58]:
df

          < $5.50      Continent  Index Score
Country
Albania     33.8%         Europe         55.6
Algeria     28.6%         Africa          NaN
Angola      89.3%         Africa          NaN
Argentina   14.0%  South America         57.3
Armenia     44.0%           Asia         53.9
...           ...            ...          ...
Venezuela   33.0%  South America          NaN
Vietnam     22.0%           Asia         57.8
Yemen       81.6%           Asia          NaN
Zambia      88.0%         Africa          NaN
Zimbabwe    83.0%         Africa          NaN

[164 rows x 3 columns]

In [59]:
new_df=df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [60]:
new_df.to_csv('soc_mob_pov_csv')

In [61]:
from google.colab import files
files.download("soc_mob_pov_csv")